.logo{
    width: 100px;
    height: auto;
}

.ButtonNav button, a{
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: #FFFF;
    border-color: #FFFF;
}
.Title h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: #333;
    
}
.Title{
    margin-bottom: 50px;
}

.mb-5 h2{
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
.Score{
   background-color: #A61103;
    border-radius: 25px;
}
.Score p{
    font-size: 20px;
    text-align: center;
    color: #FFFF;
}
.Actualités h2{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: #333;
    margin-bottom: 5%;
}
.Actualités p{
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
}
.card-group{
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}
.card-body{
    text-align: center;
}
.card-body h5{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
.card-body p{
    font-size: 15px;
    text-align: justify;
    text-indent: 5px;
}
.card{
    margin: 40px;
}

